@font-face {
   font-family: 'Julius Sans One';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Julius Sans One/regular.ttf') format('truetype');
}
