@font-face {
   font-family: 'Great Vibes';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Great Vibes/regular.ttf') format('truetype');
}
