@font-face {
   font-family: 'Nanum Brush Script';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Nanum Brush Script/regular.ttf') format('truetype');
}
