:80 {
    bind 0.0.0.0
    gzip
    root /opt/www_veda-egypt_com/
    log stdout
    git {
        repo https://github.com/veda-egypt/www_veda-egypt_com.git
        branch master
        hook /webhook "test9278"
        hook_type generic
        key /root/.ssh/id_rsa
        path /opt/www_veda-egypt_com/
    }
}

