@font-face {
   font-family: 'Cabin Sketch';
   font-style: normal;
   font-weight: 700;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Cabin Sketch/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Cabin Sketch';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Cabin Sketch/regular.ttf') format('truetype');
}
