@font-face {
   font-family: 'Saira Extra Condensed';
   font-style: normal;
   font-weight: 100;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Saira Extra Condensed/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Saira Extra Condensed';
   font-style: normal;
   font-weight: 200;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Saira Extra Condensed/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Saira Extra Condensed';
   font-style: normal;
   font-weight: 300;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Saira Extra Condensed/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Saira Extra Condensed';
   font-style: normal;
   font-weight: 500;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Saira Extra Condensed/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Saira Extra Condensed';
   font-style: normal;
   font-weight: 600;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Saira Extra Condensed/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Saira Extra Condensed';
   font-style: normal;
   font-weight: 700;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Saira Extra Condensed/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Saira Extra Condensed';
   font-style: normal;
   font-weight: 800;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Saira Extra Condensed/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Saira Extra Condensed';
   font-style: normal;
   font-weight: 900;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Saira Extra Condensed/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Saira Extra Condensed';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Saira Extra Condensed/regular.ttf') format('truetype');
}
