@font-face {
   font-family: 'Open Sans Condensed';
   font-style: normal;
   font-weight: 300;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Open Sans Condensed/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Open Sans Condensed';
   font-style: normal;
   font-weight: 700;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Open Sans Condensed/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Open Sans Condensed';
   font-style: italic;
   font-weight: 300;
   src: url('file:///Users/gosam/Documents/GitHub/www_veda-egypt_com//fonts/Open Sans Condensed/300italic.ttf') format('truetype');
}
